@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{

    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 200px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}



.input{
    height: 50px;
    width: 100%;
    display: inline-block;
    
}

.menu{
    
    height: 200px;
    

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    
    
}

nav > ul{

    
    
    height: 125px;
    width: 100px;
    
    margin-right: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    

}

nav > ul:hover{
    background-color: #333333;
    color: white;
    
    
}

nav > ul > li{

    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

        
}

main{
    height: 1500px;

}


.parallax-main{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #FFF;
    

}

.parallax-h1{
    color: white;
    font-size: 6em;


}



section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 

}

    

section.module.parallax-1{
    background-image: url("imagens/mineiro.jpg");
}

.conteudo{
    height: 300px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: center;

}

.dado{
    height: 100px;
    width: 150px;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    border: 1px solid black;

}

.pcontent{
    text-align: center;

}

.fa-heart, .fa-star, .fa-thumbs-up{
    position: absolute;
    top: 10px;

}

.frase-impacto{
    height: 200px;
    width: 80%;
    margin: auto;
    
    border: solid 1px black;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.frase-impacto > p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.produtos-utilizados{
    height: 300px;
    width: 80%;
    margin: auto;
    border: solid 1px black;
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.produtos{
    height: 150px;
    width: 100%;

    

    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.frase-produtos{
    height: 150px;
    width: 100%;
    border: solid 1px black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    
}



.frase-produtos > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
   
    
}

img{
    margin-left: 100px;

}



footer{
    height:300px;
    width: 100%;
    
    text-align: center;
    

}

.footer1{
    height: 200px;
    width: 100%;
    background-color: #1f1e1e;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer1a{
    height: 180px;
    width: 500px;
    
    color: white;

}

.footer1b{
    height: 180px;
    width: 500px;
    

    color: white;

}

.informacao{
    text-align: center;
}

.espacamento{
    line-height: 2.5;
}

.espacamento2{
    line-height: 2;
    
}

.fa-whatsapp, .fa-envelope{
    font-size: 24px;
    text-align: center;
}


.font-awesome{
    color: white;
}

.fa-whatsapp:hover, .fa-envelope:hover{
    color: rgb(151, 118, 57);
}


.fa-map-location-dot{
    color: #f7f7f7;
    font-size: 24px;
    text-align: center;
}

.fa-map-location-dot:hover{
    color: rgb(151, 118, 57);
    cursor:pointer;
}

.footer2{
    height: 100px;
    width: 100%;

    background-color: #060606;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer2a{
    height: 90px;
    width: 300px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.footer2b{
    height: 90px;
    width: 700px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 1.6;
    
}


.acentral{
    border-radius: 50%;
    height: 40px;
    width: 40px;

    margin-left: 5px;

    background-color: rgb(151, 118, 57);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.linkedin:hover{
    background-color: #0e76a8;
}

.whatsapp:hover{
    background-color: #25D366;
}

.facebook:hover{
    background-color: #1877F2;
}

.instagram:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 

}

.linkfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.footericon{
    font-size: 24px;
}

.pfooter{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.desenvolvedor{
    height: 50px;
    width: 100%;
    background-color: rgb(151, 118, 57);

    position: relative;
}

.desenvolvedor p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);

}

.desenvolvedor p:hover{
    color: black;
    font-size: 32px;
}


